[url "git@github.com:"]
	insteadOf = https://github.com/
[fetch]
	prune = true
[pull]
	rebase = false
[alias]
	lg1 = log --color --all --pretty='format:%d %Cgreen%h%Creset %an - %s' --graph
	lg2 = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	peek = stash show -u --color
	poop = stash pop
	ls = log --pretty=format:"%C(yellow)%h\\ %Cred%cd\\ %Creset%s%Cblue\\ [%ae]" --date=short --decorate
	ll = log --pretty=format:"%C(yellow)%h\\ %Cred%cd\\ %Creset%s%Cblue\\ [%ae]" --date=short --decorate --numstat
	filelog = log -u --color-words
	fl = log -u --color
	st = status -s
	diff = diff --color
	dc = diff --color-words
	again = commit --amend --no-edit
	new = "!git switch -c yacomink/`date +%Y%m%d`-$1 && git push --set-upstream origin yacomink/`date +%Y%m%d`-$1 #"
	attic = "log --pretty=format:"%C(yellow)%h\\ %Cred%cd\\ %Creset%s%Cblue\\ [%ae]" --date=short --decorate --numstat --all --full-history --"
	fixpull = "remote prune origin"
[core]
	hooksPath = /home/bits/.global_hooks
[dd-gitsign]
	username = yacomink
[user]
	name = Andy Yaco-Mink
	email = andy.yacomink@datadoghq.com
	signingKey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICkg0Nfxt4iEYlhMnUGInOr+yScAKxr2NImv4NOXRHgK
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = dd-gitsign
	allowedSignersFile = /home/bits/.config/gitsign/allowed-signers
[safe]
	directory = *
